  <div class="col-md-11 main">
    <h1 class="col-md-offset-3 col-md-6 text-center subtitle">What are you here to learn about?</h1></br>

    <div class="col-md-offset-1 col-md-10 text-center link-list sidebar"></div></br>

    <div id="topic-menu" class="col-md-12 main nav-style">
      <% @topics.each do |topic| %>

        <div class="col-md-3">
          <button class="btn  dropdown-toggle nav-style text-center" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><%= link_to topic.name, topic_path(topic) %>
          <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <% topic.subtopics.each do |subtopic| %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to subtopic.name, subtopic_path(subtopic) %></a></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>


 
  <div class="col-md-1"></div>

  
  <script>
  
  // $(function(){
  //   $.getJSON("api/links", function(response, status, jqXHR){

  //     document.write(response)
  //     // function compare(a,b){      
  //     //   if (a.cached_votes_score > b.cached_votes_score)
  //     //     return -1;
  //     //   if (a.cached_votes_score < b.cached_votes_score)
  //     //     return 1;
  //     //   return 0;
  //     //   console.log(a)
  //     // }
  //     // response.sort(compare);
  //     // console.log(response[0]);

  //     // $(".link-list").html("<p> response[0]</p>");
  //     // $(".link-list").html(
  //     //     "<h3 class='oswald'>Popular Subtopics</h3></br>" +
  //     //     "<ul class='list-unstyled'>" +
  //     //       "<li><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/links/" + response[0].id + "'>" + response[0].url + "</a></h4></li>" +
  //     //       "<li><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/links/" + response[1].id + "'>" + response[1].url + "</a></h4></li>" +
  //     //       "<li><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/links/" + response[2].id + "'>" + response[2].url + "</a></h4></li>" +
  //     //       "<li><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/links/" + response[3].id + "'>" + response[3].url + "</a></h4></li>" +
  //     //       "<li><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/links/" + response[4].id + "'>" + response[4].url + "</a></h4></li>" +
  //     //     "</ul>"

  //     // );


  //   })
  // })  
    
  $(function(){

    $.getJSON("api/subtopics", function(response, status, jqXHR){

      function compare(a,b) {
        if (a.links.length > b.links.length)
           return -1;
        if (a.links.length < b.links.length)
          return 1;
        return 0;
        console.log(a)
      }

      response.sort(compare);

      console.log(response);

      $(".link-list").html(
          "<h2 class='oswald'>Popular Subtopics</h2></br></br>" +
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[0].id + "'>" + response[0].name + "</a></h4></span>" +
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[1].id + "'>" + response[1].name + "</a></h4></span>" +
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[2].id + "'>" + response[2].name + "</a></h4></span>" +
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[3].id + "'>" + response[3].name + "</a></h4></span>" +
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[4].id + "'>" + response[4].name + "</a></h4></span>" +
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[5].id + "'>" + response[5].name + "</a></h4></span>"+
          "<span class='oswald'><h4 class='oswald'><a href='http://partyoncode.herokuapp.com/subtopics/" + response[6].id + "'>" + response[6].name + "</a></h4></span>"
          

      );

    });

  });

  </script>



