/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Source Code Pro';
  padding-bottom: 150px;
  background-color: #C7AFDC;
}

.nav-style {
	background-color: black;
  font-family: 'Source Code Pro';
  border-radius: 0;
}

.inline-block {
  display: inline-block;
}

.subtitle {
  margin-top: -40px;
  font-family: 'Oswald', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif; 
  display: inline;
  padding: 5px;
}

.footer {
  border-bottom: 1px solid black;
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  padding-left: 40px;
}

.main-list {
  margin-top: 10px;
  margin-left: 50px;
  border: 5px solid black;
  background-color: rgba(30, 30, 30, .8);
  font-family: 'Oswald', sans-serif;
  color: white;
}

.sidebar{
  font-family: 'Oswald', sans-serif;
}
.party-function {
  margin-top: 10px;
  margin-left: 50px;
  border: 5px solid black;
  background-color: rgba(30, 30, 30, .6);
}

.main {
  margin: 10px;
}

.party-img {
  height: 200px;
  width: 400px;
}

.white {
  color: white;
}
.red {
  color: red;
}

.white {
  color: white;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

.green {
  color: #49E20E;
}

.purple {
  color: #663096;
}

.link-img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 5%;
}

#link-warning {
  color: red; 
}

#link-show {
  background-color: black;
  color: white
}

#footer {
  margin-top: 20px;
}

div.col-md-5.text-right.sidebar {
  margin-bottom: 100px;
}

#topic-menu {
  height: 300px;
  font-size: 80px;
}
#dropdownMenu1 {
  font-size: 18px;
  padding: 10px;
}
.link-list {
  background-color: hsl(81, 74%, 46%);
}
#nav-list {
  font-size: 20px;
}
#nav-list-signin {
  font-size: 20px;
}

.btn-custom {
  background-color: hsl(81, 80%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7ec55", endColorstr="#74a912");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b7ec55), to(#74a912));
  background-image: -moz-linear-gradient(top, #b7ec55, #74a912);
  background-image: -ms-linear-gradient(top, #b7ec55, #74a912);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7ec55), color-stop(100%, #74a912));
  background-image: -webkit-linear-gradient(top, #b7ec55, #74a912);
  background-image: -o-linear-gradient(top, #b7ec55, #74a912);
  background-image: linear-gradient(#b7ec55, #74a912);
  border-color: #74a912 #74a912 hsl(81, 80%, 30.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
  -webkit-font-smoothing: antialiased;
}